$prefixes: '', -moz-, -ms-, -webkit-;

@mixin prefix($name,$value) {
  @each $prefix in $prefixes {
    #{$prefix}#{$name}: $value;
  }
}

@mixin vprefix($name,$value) {
  @each $prefix in $prefixes {
    #{$name}: #{$prefix}$value;
  }
}

//.hide {
  //visibility: hidden;
  //display: none;
//}

.error-msg {
  color: red;
}

.container {
  @include vprefix(display, flex);
  .input-area {
    width: 50%
  }

  .edit-area {
    width: 50%;
  }
}
